{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% get_providers as socialaccount_providers %}

    <div class="col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Login
                </div>
            </div>
            <div class="panel-body">
                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                        <a href="{% provider_login_url "google" %}">Google</a>

                        <div class="login-or">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}


                <form class="form" action="" method="post">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="email" value="{{ form.email.value }}"/>
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password"/>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Login"/>
                        <a class="btn btn-default" href="{% url 'account_signup' %}">Don't have account?</a>
                        <a class="btn btn-warning" href="{% url 'account_reset_password' %}">Forgot password?</a>
                    </div>
                </form>

            </div>
        </div>

    </div>






{% endblock %}
