{% load static %}

{% for t in templates %}
    <script id="{{ t.name }}" type="text/template">
    {% include t.path %}
    </script>
{% endfor %}

{% for script in scripts %}
    <script src="{% static script %}"></script> {% endfor %}
