<td>
    <%- contact_type_name %>
</td>
<td>
    <%- value %>
</td>
<td>
    <% if(verified){ %>
    <i class="glyphicon glyphicon-ok-sign"></i> Verified
    <% } else { %>
    <strong>Not verified</strong> <br/>
    <% if (contact_type == 1) { %> {# email #}
    <button class="btn btn-default  js-resend">Resend verification email</button>
    <% } else if (contact_type == 2) { %> {# phone #}
    <form action="" class="form-inline js-phone-code">
        <label for="">Verification code</label>
        <input type="text" name="code" class="form-control"/>
        <button class="btn btn-primary js-verify">Verify</button>
        <button class="btn btn-default js-resend">Resend verification SMS</button>
    </form>
    <% } %>
    <% } %>
</td>
<td>
    <% if(active){ %>
    <strong>Yes</strong> <br/>
    <button class="btn btn-warning js-deactivate">Deactivate</button>

    <% } else { %>
    <strong>No</strong> <br/>
    <button class="btn btn-success js-activate">Activate</button>
    <% } %>
</td>
<td>
    <button class="btn btn-default js-edit"><i class="glyphicon glyphicon-edit"></i></button>
    <button class="btn btn-danger js-delete"><i class="glyphicon glyphicon-remove"></i></button>
</td>
