<thead>
<tr>
    <th>Type</th>
    <th>Address/Number</th>
    <th>Status</th>
    <th>Active</th>
    <th>
        <button class="btn btn-success js-new">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </th>
</tr>
</thead>
<tbody></tbody>
