<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <label for="">Contact type</label>
            <select name="contact_type" id="monitorType" class="form-control">
                <option value="">---</option>
                <option value="1">Email</option>
                <option value="2">Phone number</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="">Address/Phone</label>
    <input class="form-control" type="text" name="value"/>
</div>

<div class="form-group">
    <input type="checkbox" name="active"/>
    <label for="">Active</label>
</div>

<div class="form-group">
    <button class="btn btn-primary js-save"><%- action %></button>
    <button class="btn btn-default js-cancel">Cancel</button>
</div>
