<div class="col-md-12">
    <ol class="breadcrumb">
        <li>
            Dashboard
        </li>
    </ol>

</div>

<div id='js-monitors' class="col-md-8">monitors</div>
<div id='js-events' class="col-md-4">events</div>
