<div class="row">
    <div class="col-md-10 col-sm-10">
        <% if (name){ %> <strong><%- name %></strong><br/><% } %>
        <span class="label <%- labelClass %>"><%- type_name %></span>
        <span title="<%- url %>"><%- urlDisplay %></span>
    </div>
    <div class="col-md-2 col-sm-2">
        <span class="label <%- labelClass %>"><%- status_name %></span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%- interval_schedule_name %>
        from <strong><%- region_name %></strong>
        <div>
            <% if (type==1){ %>
            <% } else if (type==2) { %>
            method: <strong><%- args.verb %></strong><br/>

            <% if (args.keyword){ %>
            keyword: <strong><%- args.keyword %></strong><br/>
            <strong>
                <% if (args.should){ %>
                must be present
                <% } else { %>
                must NOT be present
                <% } %>
            </strong>
            <% } %>

            <% } %>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-default js-edit"><i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-sm btn-default js-duplicate"><i class="glyphicon glyphicon-duplicate"></i></button>
            <% if (running) { %>
            <button class="btn btn-sm btn-danger js-pause"><i class="glyphicon glyphicon-pause"></i></button>
            <% } else { %>
            <button class="btn btn-sm btn-success js-resume"><i class="glyphicon glyphicon-play"></i></button>
            <% } %>
        </div>

    </div>
    <div class="col-md-6">
        <div class="row">
            <svg class="js-response-chart col-md-12 col-sm-12"></svg>
            <svg class="js-status-chart col-md-12 col-sm-12"></svg>
        </div>
    </div>


</div>
