<ol class="breadcrumb">
    <li>
        <a href="#">Dashboard</a>
    </li>
    <li>
        <span title="<%- url %>"><%- type_name %> <%- urlDisplay %></span>
    </li>
</ol>

<div id='js-monitor-details' class="row">
</div>
<div class="row">
    <div id='js-monitor-plot' class="col-md-12">plot</div>
</div>
<div class="row">
    <div id='js-monitor-events' class="col-md-12"></div>
</div>
