<td>
    <div class="js-open-monitor cursor-pointer">
        <% if (monitor.name){ %> <strong><%- monitor.name %></strong><br/><% } %>
        <span class="label <%- labelClass %>"><%- monitor.type_name %></span>
        <span title="<%- monitor.url %>"><%- urlDisplay %></span>
    </div>
    <strong><%- type %></strong>
    at <%- (new Date(datetime_created)) %><% if (previous){ %>, was <%- previous.type %> <%- previous.duration %>
    <% } %>
</td>
