<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <label for="">Method</label>
            <select name="verb" id="" class="form-control">
                <option value="GET">GET</option>
                <option value="HEAD">HEAD</option>
            </select>
        </div>
        <div class="col-md-5">
            <label for="">Keyword (optional)</label>
            <input class="form-control" type="text" name="keyword"/>
        </div>
        <div class="col-md-5">
            <label for="">Keyword...</label>
            <select name="should" id="" class="form-control">
                <option value="1">Must be present</option>
                <option value="0">Must NOT be present</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="">Username (optional)</label>
            <input class="form-control" type="text" name="username"/>
        </div>
        <div class="col-md-6">
            <label for="">Password (optional)</label>
            <input class="form-control" type="text" name="password"/>
        </div>
    </div>
</div>
