<div class="btn-group" role="group">
    <button class="<% if (status==0) {%>active<% } %> btn btn-default js-filter" data-filter="0">All <span class="badge badge-default"><%- all %></span></button>
    <button class="<% if (status==2) {%>active<% } %> btn btn-default js-filter" data-filter="2">Up <span class="badge badge-default"><%- up %></span></button>
    <button class="<% if (status==4) {%>active<% } %> btn btn-default js-filter" data-filter="4">Down <span class="badge badge-default"><%- down %></span></button>
    <button class="<% if (status==3) {%>active<% } %> btn btn-default js-filter" data-filter="3">Paused <span class="badge badge-default"><%- paused %></span></button>

</div>
<button class="btn btn-success js-new-monitor" title="New monitor">+</button>
