<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label for="">Type</label>
            <select name="type" id="monitorType" class="form-control">
                <option value="">---</option>
                <% _.each(monitorTypes, function(val, key){ %>
                <option value="<%- key %>"><%- val %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-6">
            <label for="">Name (Optional)</label>
            <input class="form-control" type="text" name="name"/>
        </div>
    </div>
</div>


<div class="form-group">
    <label for="">URL</label>
    <input class="form-control" type="text" name="url"/>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-5">
            <label for="">Interval</label>
            <select name="interval_schedule" id="" class="form-control">
                <option value="">---</option>
                <% _.each(intervalSchedules, function(val, key){ %>
                <option value="<%- key %>"><%- val %></option>
                <% }); %>
            </select>
        </div>

        <div class="col-md-4">
            <label for="">Region</label>
            <select name="region" id="" class="form-control">
                <option value="">---</option>
                <% _.each(regions, function(val, key){ %>
                <option value="<%- key %>"><%- val %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">Auto-detect</label>
            <button class="btn btn-default js-get-region">Detect</button>
        </div>
    </div>

</div>

<div id="extra-fields"></div>

<div class="form-group">
    <button class="btn btn-primary js-save"><%- action %></button>
    <button class="btn btn-default js-cancel">Cancel</button>
</div>
