<div class="panel ">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <% if (name){ %>
                    <%- name %> <br/>
                    <% } %>
                    <span class="label <%- labelClass %>"><%- type_name %></span>
                    <a href="<%- url %>" title="<%- url %>" target="_blank"><%- urlDisplay %></a>
                </h3>
                <strong><%- interval_schedule_name %></strong> from <strong><%- region_name %></strong>
            </div>
            <div class="col-md-4">
                <h3>
                    <span class="label <%- labelClass %>">
                        <%- status_name %>
                    </span>
                </h3>
                <% if (running) { %>
                <button class="js-pause btn btn-danger"><i class="glyphicon glyphicon-pause"></i> Pause</button>
                <% } else { %>
                <button class="js-resume btn btn-success"><i class="glyphicon glyphicon-play"></i> Start</button>
                <% } %>
                <button class="js-edit btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                <button class="js-delete btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</button>
            </div>
        </div>
    </div>
</div>
