<div class="panel-body js-filter-region"></div>

<ul class="list-group js-monitors"></ul>

<% if (totalPages > 1){ %>
<div class="panel-body">
    <nav class="monitor-events-pagination">
        <ul class="pagination">
            <% if (hasPreviousPage){ %>
            <li class="js-prev-page">
                <a href="" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            <% } else { %>
            <li class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
            <% } %>

            <% for (var page=1; page <= totalPages; page++){ %>
                <% if (page === currentPage){ %>
                    <li class="active">
                        <a href="#"><%- page %></a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="#" class="js-go-page" data-page="<%- page %>"><%- page %></a>
                    </li>
                <% } %>
            <% } %>

            <% if (hasNextPage){ %>
            <li class="js-next-page">
                <a href="" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
            <% } else { %>
            <li class="disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
            <% } %>
        </ul>
    </nav>
</div>
<% } %>
