<h2>User profile <%- email %></h2>
<div class="row">
    <div id='js-timezone' class="col-md-6">
        <form action="" class="js-profile">
            <div class="form-group">
                <label for="">Timezone</label>
                <select name="timezone" id="" class="form-control">
                    <% _.each(timezones, function(tz){ %>
                    <option value="<%- tz %>"><%- tz %></option>
                    <% }) %>
                </select>
            </div>
        </form>

    </div>
    <div id='js-password' class="col-md-6">
        <form action="">
            <div class="form-group">
                <label for="">New password</label>
                <input class="form-control" type="password" name="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default js-change-password">Change password</button>
            </div>
        </form>
    </div>
</div>
