body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error {
    color: red;
}

#dialog {
    overflow: hidden;
}

.table-hover,
.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    background-color: lavender;
}

.monitor-events-pagination{
    text-align: center;
}
.monitor-events-pagination .pagination {
    margin: 0;
    padding:0;
}

#alert {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#alert .alert {
    width: 600px;
    margin: 10px auto 0 auto;

    text-align: center;
    opacity: 0.9;
    box-shadow: 1px 1px 2px #888888;
}

.loading {
    position: fixed;
    z-index: 99999;
    opacity: 0.8;
    box-shadow: 1px 1px 2px #888888;
    width: 150px;
    bottom: -17px;
}

#js-status-bar {
    height: 80px;
}

.js-response-chart {
    height: 80px;
}

.js-status-chart {
    height: 50px;
}

.status-1 {
    fill: #337ab7;
}

.status-2 {
    fill: #5cb85c;
}

.status-3 {
    fill: #777;
}

.status-4 {
    fill: #c12e2a;
}

svg.plot {
    height: 220px;
}

.responseChartBar{
    fill: #337ab7;
}

.axis path,
.axis line {
    fill: none;
    stroke: lightblue;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
    fill: #337ab7;;
}
