<div class="col-md-6 col-md-push-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Reset password
            </div>
        </div>
        <div class="panel-body">
            <form class="form" action="" method="post">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control js-input-email" name="email"/>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Send password reset link"/>
                </div>
            </form>

        </div>
    </div>

</div>

