{% extends 'emails/base.html' %}
{% load absolute_url %}

{% block content %}
    <p>Follow this link to reset your password:
        <a href="{% absolute_url 'reset_password_confirm' reset_token=token %}" target="_blank">Reset password</a></p>
{% endblock %}
