{% extends 'emails/base.html' %}
{% load absolute_url %}

{% block content %}
    <p>Follow this link to verify your email address:
        <a href="{% absolute_url 'verify_email' verification_token=verification_token %}" target="_blank">Verify</a></p>
{% endblock %}
