{% extends "base.html" %}


{% block title %}Page not found :: {{ block.super }}{% endblock %}


{% block content %}
    <h1>Page not found</h1>
    <p><a href="/">Back to main page</a></p>
{% endblock %}
