{% extends "base.html" %}


{% block title %}Error 500 :: {{ block.super }}{% endblock %}


{% block content %}
    <h1>Someone pulled the cable, please wait we will plug it back</h1>
    <p><a href="/">Back to main page</a></p>
{% endblock %}
