{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard :: {{ block.super }}{% endblock %}


{#{% block body_start %}#}
{#    #}
{#{% endblock %}#}


{% block content %}
    <div id="main"></div>
    <div id="dialog" style="display: none"></div>
{% endblock %}


{% block scripts %}
    {% load js_app_manager %}
    {% include_js_app 'dashboard_app' %}

    <script>
        DashboardApp.start({
            initial: {{ initial|safe }}
        });
    </script>
{% endblock %}
