{% extends "base.html" %}
{% load static %}


{% block content %}
    <div id="main">
        <div class="jumbotron">
            <h1>Web service monitoring system</h1>
            <p>Graduation project</p>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}
