{% extends "base.html" %}
{% load static %}


{% block content %}
    <div id="main">
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Reset password
                        </div>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="" class="form">
                            {% csrf_token %}
                            {{ form.token }}
                            <div class="form-group">
                                <label for="">New password</label>
                                <input type="password" name="password" class="form-control">
                                {{ form.password.errors }}
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Reset" class="btn btn-primary">
                            </div>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}


